/* 
Cores:
  Azul mais escuro: #333853

  Azul mais claro: #3C4262

  Verde: #219653

  Amarelo: #F2C94C
*/

html {
  min-height: 100%;
  height: 100%;
}

body {
  background-color: #333853;
  margin: 0;
  color: #ffffff;
  height: 100%;
}

main {
  text-align: center;
  width: 80%;
  height: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

header {
  text-align: center;
  padding: 50px;
}

h1 {
  font-size: 50px;
  margin: 0;
}

#timerConfig {
  display: flex;
  justify-content: center;
}

.timerInput input {
  background-color: #3C4262;
  border: none;
  font-size: 80px;
  font-weight: bold;
  color: #b5b7c5;
  border-radius: 10px;
  width: 200px;
  height: 120px;
  text-align: center;
  margin-bottom: 20px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.287);
}

.timerInput input:focus {
  outline: none;
}

.timerInput:nth-child(2) input {
  margin-left: 20px;
  margin-right: 20px;
}

.details span {
  color: #b5b7c5;
  font-size: 20px;
  font-weight: bold;
  margin: 0 10px;
}

.details button {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: none;
  color: #b5b7c5;
  background-color: #3C4262;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.377);
  cursor: pointer;
}

#continueButton {
  background-color: #3C4262;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  color: #b5b7c5;
  font-weight: bold;
  width: 200px;
  height: 50px;
  box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.287);
  margin-top: 50px;
  cursor: pointer;
}

/* APP POMODORO PAGE */

#buttonHome {
  width: 250px;
  border-radius: 5px;
  border: none;
  background-color: #3C4262;
  cursor: pointer;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  box-shadow: 0px 3px 2px rgba(28, 32, 32, 0.287);
}

#circle {
  background-color: #3C4262;
  position: relative;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

svg {
  position: absolute;
  width: 500px;
  height: 500px;
  z-index: 1000;
  top: 0;
  left: 0;
  transform: rotate(-90deg);
}

svg circle {
  width: 100%;
  height: 100%;
  fill: none;
  stroke: #444a6b;
  stroke-width: 10;
  stroke-linecap: round;
  transform: translate(50px, 50px);
}

svg circle:nth-child(2) {
  stroke-dasharray: 1380;
  stroke-dashoffset: 0; /* 0 = 100% | 1380 = 0% */
  stroke: #5fee85;
  transition: 0.2s;
}

#circle h2 {
  font-size: 80px;
  margin: 0;
  color: white;
}

#control {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#control #sessionsCircles {
  display: flex;
  justify-content: center;
}

#control #sessionsCircles .circleSession {
  background-color: #444a6b;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  margin: 0px 3px;
}

#control #status {
  margin-top: 0;
}

#control #status .work {
  color: #5fee85;
  font-size: 50px;
}

#control #playOrPause {
  width: 120px;
  height: 80px;
  margin-top: 30px;
  font-size: 30px;
  border-radius: 10px;
  border: none;
  background-color: #444a6b;
  color: white;
  cursor: pointer;
}
